.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }
  
  .box {
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    background-color: #333;
    margin: 5px;
  }
  