<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
 <!-- Other head elements -->
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- Bootstrap JS (optional, for certain components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    
    <!-- Your custom styles or other CSS files -->
</head>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="navbar-header">
            <img src="https://png.pngtree.com/png-vector/20230321/ourmid/pngtree-ramadan-mosque-circle-design-vector-png-image_6657579.png" style="height: 80px;" 
            alt=""> 
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
        <style> 
            .navbar-header {
                background-color: rgb(255, 255, 255);
                margin: auto;
                width: 100%;
                border: 3px solid #0073ff;
                padding: 10px;
              }
              </style>

<body class="dark_bg" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="80" data-scroll-animation="true" style="overflow: visible;">
       
        <div id="preloader" style="display: none;">
            <div id="preloader_spinner" style="display: none;">
                <div class="spinner"></div>
            </div>
        </div>
</body>
     <!-- Navigation or header content -->
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <!--================footer Area =================-->

    <div class="container-1">
        <style> 
        .container-1 {
            margin: auto;
            width: 50%;
            border: 3px solid #0073ff;
            padding: 10px;
          }
          </style>
        <footer class="footer_area">
            <div class="footer_inner">
            <div class="container-3">
            <img src="https://png.pngtree.com/png-vector/20230321/ourmid/pngtree-ramadan-mosque-circle-design-vector-png-image_6657579.png" style="height: 80px;" alt="">
            </div>
            <div style="color: #000000">
            <div>Department of Rishta Nata</div> 
            <div>Ahmadiyya Muslim Jama'at, Canada</div>
            <div>10610 Jane Street, Maple, ON L6A 3A2, Canada</div>
            <div>Phone : 1 855-5RI-SHTA (574-7482) Email : <a href="mailto:support@rishtanata.ca">support@rishtanata.ca</a></div>
            </div>                
            </div>
            <style>
                .container-3 {
                    margin: auto;
                    width: 50%;
                    padding: 10px;

                }
            </style>
        </footer>
      </div>

    <!--================End footer Area =================-->
    <script type="text/javascript">

        $( function() {
            $( ".datepicker" ).datepicker(
                    {
                        dateFormat: "yy-mm-dd",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-100:+0",
                    });
            } );        
        </script>
</html>
